extends ../layouts/content/content.pug

block append styles 
    link(rel="stylesheet", href="dist/transaction_form/style.css")
block append scripts
    script(type="module", src="dist/transaction_form/script.js" defer) 
block parts 
    include ../blocks/transactionModal/transactionModal.pug

block header
    h1 #{title}
block content
    +transactionModal(values)
        