extends layouts/content/content.pug

block append styles 
    //- link(rel="stylesheet", href="dist/style.css")
block parts 
    include blocks/c-row/c-row.pug
block append variables 
    -var activeLink = 1
block content 
    .table-container-outer 
        .table-container
            table.info 
                thead 
                    - var thead = ['Пара', 'Количество', 'Средняя цена покупки', 'Сумма', 'Текущая цена', 'Изменение цены'];
                    - var subHeads = ['1d', '1w', '1M', '1Y', 'с момента покупки']
                    tr.headers
                        - var lastIndex = thead.length - 1
                        each head, i in thead
                            if i < lastIndex
                                th(rowspan="2") #{head}
                            else 
                                th(colspan="5")  #{head}
                    tr.headers
                        each subHead in subHeads
                            th #{subHead}

                    
                tbody 
                    each row in rows
                        +c-row(row)
        .table__gradient_disbled
