extends layouts/content/content.pug

block append styles 
    //- link(rel="stylesheet", href="dist/style.css")
block parts 
    include blocks/c-row/c-row.pug
block append variables 
    -var activeLink = 1
block content 
    .table-container-outer 
        .table-container
            table.info 
                thead 
                    - var thead = ['Тикер', 'Количество'];
                    tr.headers
                        each head, i in thead
                            th #{head}
                tbody 
                    each row in rows
                        +c-row(row)
        .table__gradient_disbled