extends layouts/content/content.pug

block append styles 
    link(rel="stylesheet", href="dist/style.css")
block parts 
    include blocks/c-row.pug
block content 
    .table-container-outer 
        .table-container
            table.info 
                thead 
                    tr.headers
                        - var lastIndex = thead.length -1
                        each head, i in thead
                            th(colspan=(i === lastIndex) ? "3" : "") #{head}
                tbody 
                    each row in rows
                        +c-row(row)
                            td 
                                button.edit Редактировать
                            td 
                                button.delete Удалить
                            td 
                                button.update(disabled) Обновить
        .table__gradient_disbled
