mixin entrance({ action, placeholderLogin, placeholderPassword, buttonText })
    form.entrance(action=action method="post") 
        .entrance__container
            input.c-input(type="text" placeholder=placeholderLogin)
            input.c-input(type="password" placeholder=placeholderPassword)
            button.c-button(type="submit" disabled) #{buttonText}

