extends ../layouts/form/form.pug
include ../blocks/entrance/entrance.pug

block append styles 
    link(rel="stylesheet", href="dist/sign_up/style.css")

block content
    +entrance({ action, loginPlaceholder, passwordPlaceholder, buttonText })   
    nav.nav 
        p.nav__text Уже есть аккаунт? 
            a.nav__link(href=linkToLogin) Войти