extends ../layouts/form/form.pug
include ../blocks/entrance/entrance.pug

block content
    h1 Создайте свой аккаунт
    main
        +entrance({ action, loginPlaceholder, passwordPlaceholder, buttonText })   
    nav.nav 
        p.nav__text Уже есть аккаунт? 
            a.nav__link(href=linkToLogin) Войти