extends ../layouts/form/form.pug
include ../blocks/entrance/entrance.pug

block content
    h1 Вход
    main
        +entrance({ action, loginPlaceholder, passwordPlaceholder, buttonText })      
    nav.nav 
        p.nav__text Ещё нет аккаунта? 
                a.nav__link(href=linkToSignUp) Создать аккаунт