doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        block scripts
        block styles
            link(rel="stylesheet", href="layout/layout.css")
    body 
        .page 
            .container
                block content
            .footer 
                .container
                    block footer