.add-transaction {
    position: fixed;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    padding: 0.8rem 1.8rem;
    background-color: #258646;
    color: white;
    font-weight: 500;
    border-radius: 1.6rem;
    width: max-content;
}