.user[data-status='open'] .user_box {
    top: 0;
}

.user_button {
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;

    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-image: url(../../blocks/burger/man.png);
    background-position: center;
    background-size: contain;
}

.user_box {
    position: fixed;
    background: black;
    left: 0;
    right: 0;
    top: -100%;
    height: 100vh;
    z-index: 1;
    transition: top .2s linear;
}

.user_name {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 3rem;
}

.user_money{
    color: #258646;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.user_profit {
    display: flex;
    gap: 2.2rem;
    justify-content: center;
    color: #258646;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
}