.user
    button.user_button
    .user_box 
        .user_name #{userName}
        .user_money #{userMoney}
        .user_profit
            .user_m +$45
            .user_p + 9.23% (1н)
        +periods({ baseId: "btn", radioName: "profit", checkedValue: "всё время"})

