extends ../layouts/content/content.pug

block parts 
    include ../blocks/c-row/c-row.pug
    include ../blocks/periods/periods.pug
block append variables 
    -var activeLink = 3
block append styles
    link(rel="stylesheet" href="realizedPnL/style.css")
block append scripts
    script(type="module" src="realizedPnL/script.js" defer)
block content
    .wrapper-periods
        +periods({ baseId: "radio", radioName: "realizedPnL", checkedValue: "всё время" })(data-color="green") 
    .table-container-outer 
        .table-container
            table.info 
                thead
                    - var thead = ['Пара', 'Количество', 'Средняя цена продажы', 'Сумма', 'Прибыль(убыток)'];
                    tr.headers
                        each head, i in thead
                            th #{head}
                tbody 
                    each row in rows
                        +c-row(row)
        .table__gradient_disbled