extends ../layouts/content/content.pug

block parts 
    include ../blocks/c-row/c-row.pug
block append variables 
    -var activeLink = 4
block content 
    .table-container-outer 
        .table-container
            table.info 
                thead
                    - var thead = ['Пара', 'Количество', 'Средняя цена покупки', 'Сумма', 'Текущая цена', 'Прибыль(убыток)'];
                    tr.headers
                        each head, i in thead
                            th #{head}
                tbody 
                    each row in rows
                        +c-row(row)
        .table__gradient.table__gradient_disabled