extends ../layouts/content/content.pug

block append styles 
    link(rel="stylesheet", href="dist/add_transaction/style.css")
block append scripts
    script(type="module", src="dist/add_transaction/script.js" defer) 
block parts 
    include ../blocks/transactionModal/transactionModal.pug

block header
    h2 #{title}
block content
    +transactionModal()
        