doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        block styles
            link(rel="stylesheet", href="dist/layouts/content/style.css")
        block scripts
            script(type="module", src="dist/layouts/content/script.js" defer) 
    body 
        .page 
            .container
            header 
                h1 #{title}
                button.user user
            main
                block content