doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        block styles
            link(rel="stylesheet", href="dist/layouts/content/style.css")
        block scripts
            script(type="module", src="dist/layouts/content/script.js" defer) 
        block parts

        block variables
            - var PROTOCOL = process.env.PROTOCOL
            - var HOST = process.env.HOST 
            - var PORT = process.env.PORT
    body 
        .page 
            .container
                header 
                    block header
                        h1 #{title}
                        button.user user
                main
                    block content
            include ../../blocks/nav/nav.pug