@import '../reset.css';
@import '../../blocks/nav/nav.css';

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2D3E40;
}

.page {
    padding: 1.5rem;
    font-size: 1.4rem;
    background-color: #ffa700;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    min-width: 3rem;
    margin: 0 auto;
}

header {
    margin-bottom: 3rem;
    position: relative;
}

.user {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 1.7rem;
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    max-width: 80%;
    margin: 0 auto;
}

/* Таблица */
.table-container-outer {
    position: relative;
}

.table-container {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.table::-webkit-scrollbar {
    display: none;
}

.table__gradient {
    position: absolute;
    height: 100%;
    width: 1.5rem;
    right: 0;
    top: 0;
    background: linear-gradient(90deg,rgba(255, 167, 0, 0.25), rgba(153, 100, 0, 0.25));
}

.table__gradient_disabled {
    display: none;
}

table {
    table-layout: fixed;
    width: max-content;
    border-collapse: collapse;
    margin: 0 auto;
}

thead .headers:last-child {
    border-bottom: 2px solid white;
}

thead .headers:first-child th:last-child {
    border-bottom: 1px solid white;
}

thead:first-child th:not(:last-child) {
    vertical-align: middle;
}

thead:first-child th:last-child {
    text-align: center;
}

th {
    font-weight: 600;
}

td {
    font-weight: 400;
}

th, td {
    padding: 0.7rem;
    text-align: start;
}

tbody tr {
    border-bottom: 1px solid white;
}